* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease;
    transform: translateY(0);}

.dropdown {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #7EA8BE;
    z-index: 10;
}
#logo {
    height: 100px;
    width: auto;
    margin-left: 15px ;
}
.izquierda {
    display: flex;
    align-items: center;

}
.derecha {
    display: flex;
    align-items: center;
}
.derecha button{
    height: fit-content;
    width: fit-content;
    background: none;
    border: none;
}
.derecha img{
    height: 50%;
    width: 50%;

}
.busqueda {
    margin-right: 30px;
}
.notificaciones, .perfil {
    position: relative;
    margin: 30px;
}
.notificaciones ul{
    position: absolute;
}
.perfil ul{
    position: absolute;
    right: 10%;
}
.notificaciones ul, .perfil ul {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border: solid 2px black;
    border-radius:5px ;
    width: 150px;
    height: 200px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    transform: translateY(-10px);
}

.perfil button:focus + ul, .notificaciones button:focus + ul {
    opacity: 5;
    background:white ;
    pointer-events: all;
    transform: translateY(0px);
    z-index: 10;
    position: absolute;

}
.notificaciones a, .perfil a{
    color: black;
    text-decoration: none;
    z-index: 10;
}
.perfil li, .notificaciones li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.perfil li:hover, .notificaciones li:hover{
    background-color: #9dc1d4;
}

.home, .izquierda button{
    background: none;
    border: none;
    color:white;
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
}
.home:hover {
   text-decoration: underline; 
}
.body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}
textarea {
    resize: none;
    height: 300px;
    
}
#details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
}
input[type = text] {
    height: 60px;
}
textarea,input[type = text]{
    width: 95%;
    min-width: 440px;
    font-size: 30px;
    border: solid 2px black;
    border-radius: 10px;
    margin-bottom: 30px;
}
#text {
    padding: 20px;
    min-width: 450px;  
    width: 85%;
    margin-left: 2% ;
}

#algo {
    margin:20px ;
    padding: 20px ;
    border: solid 2px black;
    border-radius: 10px;
}

.crear  {
    margin-top: 20px;
    padding: 10px 20px;
    height: min-content;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
}

.bodyPrinci {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
h1 {
    margin-left: 6%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.materias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.materias a {
    text-decoration: none;
    color:black;
}
.materias div {
    margin: 0 3% 1% 3%;
}

.mat {
    min-width: 400px;
    width: 40%;
    border: 2px black solid;
    border-radius: 15px;
    padding: 20px;
    z-index: -1;
}
.a, .b{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mate h2, .ingles h2 {
    font-size: 30px;

}

progress {
    -webkit-appearance: none;
    width: 75%;
    height: 20px;
    border: 1px solid black;
    border-radius: 30px;
    overflow: hidden;
}

.container {
    overflow: -moz-hidden-unscrollable;
    width: 450px;
    height: 50%;
    border: 3px solid black;
    border-radius: 15px;
    margin: 0px 5% 5% 5% ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    
}

.calendar {
    width: 100%;
    height: 52%;

}

.month {
    width: 100%;
    height: 20%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #7EA8BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
    text-align: center;
    padding: 0 20px;
}

.month i{
    font-size: 35px;
    cursor: pointer;
}

.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}
.weekdays div {
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem;
}
.days div{
    font-size: 15px;
    margin: 0.4rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-date, .next-date {
    opacity: 0.5;
}

.today {
    background-color: #7EA8BE;
    border-radius: 100px;
}

.days div:hover:not(.today){
    border: 2px solid gray;
    border-radius: 100px;

}
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
.sideBar {
    border:solid 2px black; 
    border-radius: 10px;
    width: 200px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.sideBar ul {
    list-style-type: none;
}
.side {
    display: flex;
    width: 200px;
    margin-left: 10%;
    flex-direction: column;
    align-items: center;
}

.crearMat{
    margin: 5px;
    padding: 10px 65px;
    height: min-content;
    border-radius: 10px;
    font-size: 20px;
}

.sideBar ul li a{
    margin: 20px auto 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    border-bottom: solid 3px black;
    text-decoration: none;
    color: black;
}
banner img {
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    width: 80%;
    height: 300px;
    border-radius: 10px;
    position: static;
    z-index: -10;
}

.bodyMateria {
    display: flex;
    align-items: flex-start;
}

.tarea {
    border: black 2px solid;
    margin-left: 35px;
    width: 1000px;
    border-radius: 5px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.tareaB{
    display: flex;
}
.tareaB h3{
    margin-top: 10px;
    margin-right: 30px;
}
