/*Seccion para el header*/
.header{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7EA8BE;
    padding: 25px;
    font-size: 25px;
    margin: -10px 5px 30px -10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
} 

.left {
    display: flex;
    align-content: center;
}

.right img {
    margin-right: 50px;
    width: 40px;
}
.right img:hover {
    border: 3px solid white;
    border-radius: 5px;
    margin-right: 50px;
    width: 40px;
}

.body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header a {
    color: white;
    margin: auto 30px;
    font-size: 25px;
}
.header a:hover {
    color: white;
    margin: auto 30px;
    font-size: 25px;
    border:3px solid white;
    border-radius: 5px;

}

img {
    width: 60px;
    height: auto;
}

/*Posicion de centro*/

.position{
    position: absolute;
    top: 300px;
    right: 640px;

}


.position .img {
    position: absolute;
    top: 5%;
    right: 15%;
}
.position .file{
    position: absolute;
    top: 22%;
    right: -17%;

}
.position .file2{
    position: absolute;
    top: 28%;
    right: -17%;

}

/*Campos de texto relativos al Position*/

.position .container input {
    
    width: 60%;
    clear: both;
   
  }

.position .id{
    position: absolute;
    top:-15%;
    
  }

.position .id2{
    position: absolute;
    top:-11%;
    
  }

  /*Campos de texto para Entrega de asignacion*/

.position .container Asig{
    
    width: 80%;
    clear: both;
   
  }

  /*Seccion de botones*/

.position .buttons{
    margin: 15px 280px;
}

.buttons button{
    margin-top: 20px;
    padding: 10px 25px;
    height: min-content;
    margin: 0 20px 20px 20px;
    border-radius: 10px;

}

.buttons .btn{
    position: absolute;
    top: 450px;
    right: 15%;
   
}
.buttons .btn2{
    position: absolute;
    top: 450px;
    right: 90%;
    padding: 10px 30px;
   
}
.buttons button:hover{
    background: #616161
}

/*Botones de la ventana de entregar asignacion*/

.buttons .btnAsig{
    position: absolute;
    top: 350px;
    right: 15%;
   
}
.buttons .btnAsig2{
    position: absolute;
    top: 350px;
    right: 90%;
    padding: 10px 30px;
   
}

/*Caja de texto*/

.texto{
    position: absolute;
    top: 450px;
    right: 10px;
}


