*{
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar{
    background: rgba(0,0,0,0.8);
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
    font-size: 20px;
}

.menu-bar ul li {
    width: 120px;
    margin: 20px;
    padding: 10px;
    color: white;

}

.menu-bar ul li a {
    text-decoration: none;
    color: white;

}

.active, .menu-bar ul li:hover {
    background-color: rgb(88, 88, 88);
    border-radius: 3px;
}

table {
    margin-top: 50px;
    margin: 0 auto;
    border-collapse: collapse;
}
th {
    background-color:rgba(0,0,0,0.8);
    color: white;
}
td, th {
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center  ;
}
.aux {
    display: flex;
}

.a {
    margin: 40px auto;
}

.aux button {
    width: 10%;
}

