<%- include('partials/_header') %>

    <div class="row ">
      <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card pull-up ecom-card-1 bg-white">
              <div class="card-content ecom-card2 height-360">
                  <h1 class="text-muted danger position-absolute p-1">Total de Estudiantes:   6</h1>
                  <div>
                      
                  </div>
                  <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3  ">
                      <div id="progress-stats-bar-chart"></div>
                      <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
          <div class="card pull-up ecom-card-1 bg-white">
              <div class="card-content ecom-card2 height-360">
                  <h1 class="text-muted info position-absolute p-1">Total de Profesores:   4</h1>
                  <div>
                  </div>
                  <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3">
                      <div id="progress-stats-bar-chart1"></div>
                      <div id="progress-stats-line-chart1" class="progress-stats-shadow"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-12">
          <div class="card pull-up ecom-card-1 bg-white">
              <div class="card-content ecom-card2 height-360">
                  <h1 class="text-muted warning position-absolute p-1">Total de Grupos:   4</h1>
                  <div>
                  </div>
                  <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3">
                      <div id="progress-stats-bar-chart2"></div>
                      <div id="progress-stats-line-chart2" class="progress-stats-shadow"></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  
    <div class="row ">
      <div class="col-12 ">
          <div class="card ">
              <div class="card-header">
                  <h4 class="card-title">Estadistica</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                          <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                          <li><a data-action="close"><i class="ft-x"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="card-content collapse show">
                  <div class="card-body">
                          <div class="height-400">
                      <canvas id="bar-chart"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <%- include('partials/_footer') %>
