<form action="/" method="POST">
    <input name="user" type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="User-Name">
    <input name="password" type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Password">
    <button type="submit">Registrar</button>

</form>