<%- include('partials/_header1') %>
<form class=" form" action = "/regDoc" method="POST">
    <div class="card">
        <div class="card-header">
            <h4>Enero</h4>
        </div>
        <div class="card-content" aria-expanded="true">
            <div class="card-body">
                <input type="week" class="form-control">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Febrero</h4>
        </div>
        <div class="card-content" aria-expanded="true">
            <div class="card-body">
                <input type="week" class="form-control">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Marzo</h4>
        </div>
        <div class="card-content" aria-expanded="true">
            <div class="card-body">
                <input type="week" class="form-control">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Abril</h4>
        </div>
        <div class="card-content" aria-expanded="true">
            <div class="card-body">
                <input type="week" class="form-control">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary my-4 btn-block waves-effect">Aceptar</button>
</form>