<%- include('partials/_header2') %>

<!--CARTA REGISTRO-->

<div class="container">
     
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
      <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
          
          </ul>
    
      </div>
      </div>
    </nav>
</div>

<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
      </div>
      <div class="content-body"><!-- Chart -->

<!--Register form-->
<div class="row">  
    <div class="container p-3 my-3 bg-white">
  
                  <!-- Default form register -->
                  <form class="text-center border border-dark p-4" action = "/regDoc" method="POST">
          
                    <p class="h4 mb-4">Registrar docente</p>
          
                    <div class="form-row mb-4">
                      <div class="col">
                        <!-- First name -->
                        <input name="nombre" type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Nombre(s)">
                      </div>
                      <div class="col">
                        <!-- Last name -->
                        <input name="apellido" type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Apellido(s)">
                      </div>
                    </div>
          
                    <!-- E-mail -->
                    <input name="correo" type="text" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
  
                    <!--Fecha de nacimiento-->
                    <input name="nacimiento" type="date" input type="email" id="defaultRegisterBirthDatel" class="form-control mb-4" placeholder="Fecha de nacimiento">
          
                    <!-- Password -->
                    <input name="password" type="password" id="Password" class="form-control" placeholder="Contraseña" aria-describedby="defaultRegisterFormPasswordHelpBlock">

                    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    </small>

                    
                    <!-- Especialidad -->
                    <select name="especialidad" type="text" id="defaultRegisterFormSelect" class="form-control mb-4" placeholder="Especialidad"> 
                      <option value="Lengua Española">Lengua española</option>
                      <option value="Matematicas">Matematicas</option>
                      <option value="Ciencias Sociales">Ciencias Sociales</option>
                      <option value="Ciencias Naturales">Ciencias Naturales</option>
                      <option value="Civica">Moral y Civica</option>
                      <option value="Emprendimiento">Emprendimiento</option>
                      <option value="Ingles">Ingles</option>
                      <option value="Frances">Frances</option>
                      <option value="Arte">Arte</option>
                      <option value="Deporte">Educacion fisica</option>
                      <option value="Religion">Religion</option>
                      <option value="Informatica">Informatica</option>
                    </select>
              
                  
                      

          
                    <!-- Phone number -->
                    <input name="telefono" type="tel" id="defaultRegisterPhonePassword" class="form-control" placeholder="Telefono +1()" aria-describedby="defaultRegisterFormPhoneHelpBlock" >

                    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4"">
                      
                    </small>
  
                    <input name="direccion" type="text" id="defaultRegisterFormAdress" class="form-control mb-4" placeholder="Direccion">
          
    
                    <!-- Sign up button -->
                    <button class="btn btn-secondary my-4 btn-block waves-effect " type="submit">Registrar</button>
          
                 
             
          
                
                  </p></form>
                  <!-- TERMINO Register form -->
    
      </div>
      <div class="row match-height">

         
                <!--Section: Live preview-->
            
           
    </body>
  </html>